html,
body {
  display: flex;
  margin: 0;
}

html {
  height: 100%;
  background-color: white;
}

body {
  flex-direction: column;
  color: black;
  background: white;
  width: 100%;
  height: inherit;
  padding-left: 120px;
  padding-right: 120px;
}

a {
  color: white;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 0 60px;
  }
}

