.Home {
  display: flex;
 padding: 100px 0;
 height: inherit;
 gap: 140px
}

.Home_Left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}

.Home_Left > h1 {
  font-size: 75px;
  margin: 0;
}

.Home_Left > .sub_heading {
  font-size: 20px;
  line-height: 30px;
}

.Home_Left > button {
  background-color: black;
  color: white;
  padding: 19px;
  border: none;
  width: 162px;
  cursor: pointer;
  text-align: center;
}

.Home_Right {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 235, 215, 0.0);
  gap: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
 
}

.Home_Right > .heading {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

.Home_Right > .content {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.Home_Right > .content > .Home_Right_left {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

}

.Home_Right .right_subHeading {
  font-size: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  align-self: flex-start;
}

.Home_Right .dummyLine {
  background-color: black;
  width: 90px;
  height: 5px;
  align-self: flex-start;
}

.Home_Right > .content > .Home_Right_left > .walletBalance {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 13px 50px 3px rgba(0,0,0,0.05);
  -webkit-box-shadow: 2px 13px 50px 3px rgba(0,0,0,0.05);
  -moz-box-shadow: 2px 13px 50px 3px rgba(0,0,0,0.05);
  padding: 60px;
  height: 100%;
}


.Home_Right > .content > .Home_Right_left > .walletBalance > .value {
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.Home_Right > .content > .Home_Right_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home_Right > .content > .Home_Right_right > section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Home_Right > .content > .Home_Right_right  .allocations {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  text-align: center;
  flex: 1;
  box-shadow: 2px 13px 50px 3px rgba(0,0,0,0.05);
  -webkit-box-shadow: 2px 13px 50px 3px rgba(0,0,0,0.05);
  -moz-box-shadow: 2px 13px 50px 3px rgba(0,0,0,0.05);
  padding: 30px;
}

.Home_Right > .content > .Home_Right_right  .allocations > .splittedValue {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .Home {
    flex-direction: column;
    gap: 60px;
  }

  .Home_Left > h1 {
    font-size: 45px;
  }

  .Home_Left > .sub_heading {
    font-size: 16px;
    line-height: 25px;
  }


  .Home_Right {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 235, 215, 0.0);
    gap: 40px;
    align-items: center;
    margin: 0;
    padding: 0;
  
  }

  .Home_Right > .content {
    flex-direction: column;
  }

  .Home_Right > .heading {
    font-size: 30px;
    font-weight: 500;
  }

  .splitArrow {
    transform: rotate(90deg); 
    width: 30px;
    height: 30px;
  }
 

}