.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 2;
}

.overlay > .modal {
    display: flex;
    flex-direction: column;
  
    background-color: white;
    width: 500px;
    height: 200px;
    z-index: 4;
    padding: 20px;
}

.overlay > .modal > .closeModal {
    justify-self: flex-end;
    align-self: flex-end;
    cursor: pointer;
}

.overlay > .modal > .sendEthLabel {
    align-self: center;
}

.overlay > .modal  > .addressAndIcon {
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: center;
}