.NavBar {
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 120px;
    padding-top: 26px;
    padding-bottom: 26px;
    margin: 0;
}

.logo {
    font-weight: bold;
    color: black;
}

.center_info {
    margin-left: 58px;
    cursor: pointer;
}

.auth {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 400px;
}

.auth > button {
    background-color: black;
    color: white;
    padding: 14px;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .NavBar {
        gap: 10px;
        padding: 13px 0;
        margin: 0;
        justify-content: space-between;
    }

    .center_info {
        margin: 0;
    }

    .auth{
        display: none;
    }
}
