.layout {
    display: flex;
    width: 100%;
    gap: 40px;
    height: 100%;
}

.layout > .left {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding-top: 100px;
}

.layout > .left > .verticalNav {
    display: flex;
    flex-direction: column;
}

.layout > .left > .verticalNav > ul {  
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    padding: 0;
}

.layout > .left > .verticalNav > ul > li {
    display: flex;
    align-items: center;
    gap: 14px;
}

.layout .NavMenu{
    color: black;
    display: flex;
    align-items: center;
    gap: 12px;
}

.layout > .right {
    width: 85%;
}



@media only screen and (max-width: 768px) { 

    .layout {
        flex-direction: column;
        width: 100%;
    }

    .layout > .left {
        flex-direction: row;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        order: 2;
    }

    .layout > .left > .verticalNav {
        flex-direction: row;
        width: 100vw;
    }

    .layout > .left > .verticalNav > ul {  
        flex-direction: row;
        gap: 37px;
        width: 100%;
        justify-content: space-evenly;
    }

    .layout > .left > .verticalNav > ul > li {
        flex-direction: column;
        font-size: 14px;
        gap: 9px;
    }

    .layout .NavMenu{
        flex-direction: column;
        justify-content: center;
        gap: 0;
     }

    .layout > .right {
        order: 1;
        width: 100%;
    }
}