.dashboard {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.dashboard > .welcomeMsg {
    font-size: 22px;
    margin: 20px 0;
}

.dashboard > .welcomeMsg > span{
    font-weight: bold;
}

.dashboard > .totalWalletBalanceContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0, 0.03);
    padding: 25px;
    
}

.dashboard > .totalWalletBalanceContainer > .actions {
    display: flex;
    gap: 40px; 
    margin-top: 20px;
}

.dashboard > .totalWalletBalanceContainer > .actions > div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.dashboard > .totalWalletBalanceContainer > .actions > div > p {
    margin: 0;
}

.dashboard > .totalWalletBalanceContainer > .totWalletLabel {
    font-size: 14px;
    margin: 0;
}

.dashboard > .totalWalletBalanceContainer > .totWalletValue {
    font-size: 45px;
    margin: 0;
}

.dashboard > .totalWalletBalanceContainer > .totWalletValue > span {
    font-size: 15px;
    font-weight: bold;
    margin-left: 3px;
}

.dashboard > .subWalletSection {

}

.dashboard > .subWalletSection > .subWalletLabel {
    font-size: 22px;
    font-weight: bold;
    margin-top: 60px;
}

.dashboard > .subWalletSection > .subWalletLayout {
    display: flex;
    gap: 40px;
}

.dashboard > .subWalletSection > .subWalletLayout >.subWalletContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0, 0.03);
    flex: 1;
    padding: 25px;
}

.dashboard > .subWalletSection > .subWalletLayout >.subWalletContainer > .subWalletTag {
    font-size: 15px;
}

.dashboard > .subWalletSection > .subWalletLayout >.subWalletContainer > .balanceAndMore {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.dashboard > .subWalletSection > .subWalletLayout >.subWalletContainer > .balanceAndMore > .subWalletValue {
    font-size: 30px;
    margin: 0;
}

.dashboard > .subWalletSection > .subWalletLayout >.subWalletContainer > .balanceAndMore > .subWalletValue > span {
    font-size: 14px;
    margin-left: 4px;
}

.dashboard > .subWalletSection > .subWalletLayout >.subWalletContainer > .balanceAndMore > .view {
    font-size: 16px;
    color: black;
    margin: 0;
    background-color: rgb(0,0,0, 0.1);
    padding: 10px 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 2;
}

.overlay > .modal {
    display: flex;
    flex-direction: column;
  
    background-color: white;
    width: 500px;
    height: 200px;
    z-index: 4;
    padding: 20px;
}

.overlay > .modal > .closeModal {
    justify-self: flex-end;
    align-self: flex-end;
    cursor: pointer;
}

.overlay > .modal > .sendEthLabel {
    align-self: center;
}

.overlay > .modal  > .addressAndIcon {
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: center;
}

@media only screen and (max-width: 768px) { 

    .dashboard > .subWalletSection > .subWalletLabel {
        font-size: 18px;
        margin-top: 50px;
    }
    
    .dashboard > .subWalletSection > .subWalletLayout {
        display: flex;
        gap: 20px;
        width: 100%;
        overflow-x: scroll;
        padding-right: 70px;
    }

    .dashboard > .subWalletSection > .subWalletLayout::-webkit-scrollbar {
        width: 0; /* Hide scrollbar For WebKit (Chrome, Safari, etc.) */
    }
    
    .dashboard > .subWalletSection > .subWalletLayout >.subWalletContainer {
        display: flex;
        flex-direction: column;
        background-color: rgb(0,0,0, 0.03);
        flex: 1;
        padding: 25px;
    }

    .dashboard > .totalWalletBalanceContainer > .actions {
        display: flex;
        width: 100%;
        margin-top: 20px;
        justify-content: space-between;
        gap: 0;
    }

    .actionsBox {

    }

    .actionsBox > .actionLabel {
        font-size: 14px;
    }

}